@import url('https://fonts.googleapis.com/css?family=Open+Sans');


body {
	padding-top: 50px;
	font-family: 'Open Sans';

}

.wrapper {
	width: 90%;
	margin: 0 auto;
}

.btn-wrapper {
	display: flex;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.btn {
	display: flex;
	flex-direction:row;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 140px;
	height: 60px;
	background-color: #388E3C;
	border-radius: 8px;
	margin-right: 60px;
	font-family: blackBox;
	font-size: 2.5em;
	color: #fff;
	cursor: pointer;
}

main {
	width: 100%;
	height: 700px;
	background-color: #C8E6C9;
	margin-top: 40px;
	border-radius: 8px;
}

.table {
	font-size: 14px;
	margin: 0 auto 40px;
	border-spacing: 0;
	border: 1px solid #bdc3c7;
}

.table thead {
	box-shadow: 0 2px 4px 0px rgba(0, 0, 0, .34);
}

.table tbody {
}

.table td, .table th {
	padding: 10px 10px;
	/*border: 1px solid #ccc;*/
	font-family: 'Open Sans';
}

.table td {
	text-align: center;
}

.table thead {
	color: #fff;
	background: #1abc9c;
}

.table tr:nth-child(2n) {
	background: #ecf0f1;
}

.btns {
	display: block;
	margin: 50px auto;
	width: 350px;
}

.btns a {
	text-align: center;
	color: #fff;
	background: #1abc9c;
	text-decoration: none;
	padding: 10px 55px;
	margin: 0 5px;
}

.logo h1{
	text-align: center;
	/*background: #1abc9c;*/
	margin: 0 auto;
	color: #1abc9c;
}
