<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <sub style="margin: 0 auto; width: 900px; display:block">
    <p>*Average Mark depends on the grade of air pollution, less the polution value, higher the mark.
    </p>
    <br>
  </sub>
  <table class="table">
    <thead>
      <tr>
        <!-- <th>City</th> -->
        <th ng-click="table.sortBy('city')">City<span class="sortorder" ng-show="table.propertyName === 'city'" ng-class="{reverse: table.reverse}"></span></th>

        <th>CH(t)</th>
        <th>SO<sub>2</sub>(t)</th>
        <th>CO(t)</th>
        <th>NO<sub>2</sub>(t)</th>
        <th>Solids(t)</th>
        <th>Volatile organic compounds(t)</th>
        <th>Other(t)</th>
        <th ng-click="table.sortBy('medie')">Average Mark<span class="sortorder" ng-show="table.propertyName === 'medie'" ng-class="{reverse: table.reverse}"></span></th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="obj in table.data | orderBy:table.propertyName:table.reverse">
        <td>{{obj.city}}</td>
        <td>{{obj.ch | number : fractionSize}}</td>
        <td>{{obj.so | number : fractionSize}}</td>
        <td>{{obj.co | number : fractionSize}}</td>
        <td>{{obj.no | number : fractionSize}}</td>
        <td>{{obj.subst | number : fractionSize}}</td>
        <td>{{obj.compusi | number : fractionSize}}</td>
        <td>{{obj.altele | number : fractionSize}}</td>
        <td>{{obj.medie | number : fractionSize}}</td>
      </tr>
    </tbody>
  </table>

</body>
</html>
