<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

  <table class="table">
    <thead>
      <tr>
        <th>City</th>
        <th>CH</th>
        <th>SO2</th>
        <th>CO</th>
        <th>NO2</th>
        <th>Substante solide</th>
        <th>Compusi organice volatili</th>
        <th>Altele</th>
        <th>Medie</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="obj in table.data">
        <td>{{obj.city}}</td>
        <td>{{obj.ch}}</td>
        <td>{{obj.so}}</td>
        <td>{{obj.co}}</td>
        <td>{{obj.no}}</td>
        <td>{{obj.subst}}</td>
        <td>{{obj.compusi}}</td>
        <td>{{obj.altele}}</td>
        <td>{{obj.medie}}</td>
      </tr>
    </tbody>
  </table>

</body>
</html>
